@font-face {
  font-family: 'Copernicus';
  src: url('./fonts/copernicus_webfont/Copernicus-Heavy.eot'); /* IE9 Compat Modes */
  src: url('./fonts/copernicus_webfont/Copernicus-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/copernicus_webfont/Copernicus-Heavy.woff') format('woff'), /* Modern Browsers */
       url('./fonts/copernicus_webfont/Copernicus-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/copernicus_webfont/Copernicus-Heavy.svg#53d86533bbd20bc075f6ce29028572cc') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  width: 86.87%;
}

.span_6_of_8 {
  width: 73.75%;
}

.span_5_of_8 {
  width: 60.62%;
}

.span_4_of_8 {
  width: 47.5%;
}

.span_3_of_8 {
  width: 34.37%;
}

.span_2_of_8 {
  width: 21.25%;
}

.span_1_of_8 {
  width: 8.125%;
}

.container {
  margin: 0px 70px;
}

.bottom {
  position: absolute;
  bottom: 0%;
}

.bottom.edit-mode {
  margin-bottom: -30px;
}

/* FONTS  */
.Copernicus-font {
  font-family: 'Copernicus';
}
.Futura-font {
  font-family: 'Futura Std';
  color: #808080;
}
.Palatino-font {
  font-family: 'Palatino';
  color: #333333;
}

/*  ARTICLE  */
.article {
	clear: both;
	padding: 0px;
  margin: 0px;
}

/*  NAVIGATION  */
.navbar .menu-icon {
  position: absolute;
  right: 70px;
  top: 80px;
  z-index: 1;
}
.navbar .menu-icon img {
  height: 30px;
}

/*  BACKGROUND IMAGE  */
.hero .background {
  background: url('./assets/wildernessBcg.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/*  HERO CONTENT  */
.hero .header-text {
  letter-spacing: -3pt;
  font-size: 68pt;
  color: black;
  mix-blend-mode: screen;
  max-width: 100%;
  width: 800px;
}
.highlight {
  background-color: hsl(0, 0%, 100%);
}
.padding2 {
  padding: 2px;
}
.paddingBottomNone {
  padding-bottom: 0px !important;
}
.hero .header-text.edit-mode {
  font-size: 3rem;
  padding: 15px;
  mix-blend-mode: normal;
}
.hero .input-wrapper {
  padding: 30px;
  background: white;
}
input:focus { 
  outline: none !important;
  border-color: hsla(0, 0%, 50%, 0.2);
}

/*  ICONS  */
.icon {
  cursor: pointer;
  height: 20px;
  padding: 5px;
  display: block;
}
.icon.pencil {
  background: #F3E13B;
  margin-left: -35px;
}
.icon.checkmark {
  background: #A2D05A;
  margin-left: -35px;
}
.icon.checkmark.grey {
  background: grey;
  cursor: not-allowed;
}
.icon.x {
  background: #E56D3E;
  margin-left: -35px;
  margin-bottom: 1px;
}

/*  COLOR HELPERS  */
.color-8A98A6 {
  color: #8A98A6;
}
.grey-4D4D4D {
  color: #4D4D4D;
}
.grey-B2B2B2 {
  color: #B2B2B2;
}
.grey-666666 {
  color: #666666;
}

/*  CONTENT BODY  */

.content-body {
  font-size: 19pt;
  line-height: 30pt;
}

.author-text {
  color: #6F4F31;
  font-size: 12pt;
}
.fontSize10 {
  font-size: 10pt;
}

.marginTop30 {
  margin-top: 30px;
}
.marginTop100 {
  margin-top: 100px;
}
.marginBottomNone {
  margin-bottom: 0px !important;
}

.offsetText {
  font-size: 38pt;
  line-height: 39pt;
  letter-spacing: -3pt;
  margin-left: -60px;
  width: 75%;
  padding: 30px 0px;
}

/*  Responsive header text */
@media only screen and (max-width: 900px) {
  .hero .header-text {
    font-size: 50pt;
    width: 100%;
  }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .hero .header-text {
    font-size: 35pt;
  }
  .hero .header-text.edit-mode {
    font-size: 25pt;
    width: 240px;
  }
  .hero .input-wrapper {
    width: 280px;
  }
  .displayNoneMobile {
    display: none;
  }
  .marginTopNoneMobile {
    margin-top: 0px !important;
  }
  .offsetTextMobile {
    margin-left: 0px;
    width: 100%;
  }
	.col { margin: 70px auto; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}

/* 
.section
splits up the page horizontally. You'll need a few of these to break up the content, and you can use them in your main wrapper, or within other divs.

.col
divides the section into columns. Each column has a left margin except the first one. Using .col:first-child { margin-left: 0; } means you don't need to use class="last" anywhere. It works in all browsers since IE6.

.group
solves floating problems, by forcing the section to self clear its children (aka the clearfix hack). This is good in Firefox 3.5+, Safari 4+, Chrome, Opera 9+ and IE 6+.

.span_1_of_3
specifies the width of the column. Using percentages means it's 100% fluid.

@media queries
as soon as the screen size gets less than 480 pixels the columns stack and the margins disappear. */